[Unit]
Description=Devopsimsya Node.js app
After=network.target

[Service]
Type=simple
User={{ app_user }}
Group={{ app_user }}
{# рабочая папка, откуда Node.js сможет подгружать node_modules #}
WorkingDirectory={{ app_dir }}
{# запуск через системный Node.js #}
ExecStart=/usr/bin/node src/main.js
Restart=always
RestartSec=5
{# 
production: aреймворки выключают тяжелые отладочные проверки, включают кэширование шаблонов в памяти 
и оптимизируют сборку мусора.
В случае падения эндпоинта клиенту не отправляется подробный стек вызовов (stack trace) с внутренними путями файлов на сервере
#}
Environment=NODE_ENV=production
Environment=PORT=3000  {#штобы порт считался из окружения#}

[Install]
WantedBy=multi-user.target