server {
    listen 1337;
    server_name _;

    location / {
        proxy_pass http://127.0.0.1:3000;
        
        #4 строчки снизу добавляют поддержку вебсокетов
        # 1.1 включает постоянные соединения keep-alive и обязательна для протокола вебсокетов
        # proxy_set_header Upgrade и Connection 'upgrade' заставляют nginx переключить соединение в режим двустороннего туннеля
        # proxy_cache_bypass $http_upgrade запрещает nginx брать ответ из кэша, если клиент пытается установить живое вебсокет-соединение.
        # короче если приложение на питончике будет бзать вебсокеты, то там тоже такие настройки нужны будут
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_cache_bypass $http_upgrade;
        
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}