[defaults]
# Где по умолчанию брать список серверов
inventory = ./inventory.ini

# Под каким пользователем подключаться по SSH
#remote_user = xxx - заюзал ANSIBLE_REMOTE_USER в run-ansible - специальную переменную 

# Какой приватный SSH-ключ использовать для авторизации
private_key_file = ~/.ssh/id_ed25519

# Проверять ли цифровой отпечаток хоста (known_hosts)
host_key_checking = True

# Отключаем создание бесполезных .retry файлов при ошибках
retry_files_enabled = False

[privilege_escalation]
# Автоматически повышать привилегии через sudo для задач, требующих root
become = True
become_method = sudo
become_user = root
# Не запрашивать пароль (так как у psina настроен NOPASSWD)
become_ask_pass = False